<% provide(:title, 'Resume') %>

<!DOCTYPE html>
<html>
    <%= render 'layouts/header' %>
  
  <body>
    <h1>RESUME</h1>
    <p>
<h1>Per Rosenkötter, 2928971</h1>
<h1>Programming Languages: C,JAVA,HTML,PHP,RUBY,C++,C#,JQUERY,JAVASCRIPT,JASON</h1>
<h1>Adress: 62 St Marys Road, Dublin 12</h1>
<h1>Computing Science</h1>
<h1>Hobbies: Tv-Series, Gaming, Singing</h1>
    </p>
  </body>
</html>